<div class="background"></div>

<div class="foreground">
    <p class="lrg">{{ cityJson.name }}</p>
    <p class="xl">{{ tempF }}° F</p>
    <p class="lrg">{{ cityJson.weather[0].main }}</p>
    <p class="med">High: {{ tempHi }}° F | Low: {{tempLo}}° F</p>
    <p class="med">Humidity: {{ cityJson.main.humidity }}%</p>
    <p class="med">Condition: {{ cityJson.weather[0].description }}</p>
    <p class="med">Cloud Coverage: {{ cityJson.clouds.all }}%</p>
    <p class="med">Wind Speed:  {{ calculated }} mph</p>

</div>

