div.background{
    background-image: linear-gradient(skyblue,blue);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

button{
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    border-radius: 4px;
    border: solid rgb(128, 128, 128) 1px;
    background-image: radial-gradient(white,silver);
    box-shadow: rgba(114, 114, 114, 0.835) 0px 0px 10px;
    /* outline: 1px solid red; */
}

button:hover{
    background-image: radial-gradient(white,rgb(169, 169, 253));
}

.button-block{
    margin: auto;
    display: inline;
    /* outline: 1px solid red; */
    position: fixed;
    top: 10px;
    left: 10px;
}

.weather-data{
    display: inline;
    /* outline: 1px solid red; */
}

.welcome{
    z-index: 1;
    position: fixed;
    top: 10px;
    left: 150px;
    width: 250px;
    text-align: center;
}

h1{
    font-size: 24pt;
    margin-top: 25px;
    text-shadow: rgba(255, 245, 155, 0.535) 0px 0px 6px;
}

#vane{
    width:100px;
    height:100px;
    margin: auto;
}

h6{
    position: fixed;
    left: 10px;
    bottom: 10px;
}

p{
    font-size:small;
    justify-content: flex-start;
    text-align: left;
}