<div class="background" *ngIf="homeBgOn">
</div>

<div class="button-block">
    <a [routerLink]="['/']" (click)="homeBgFlip()"><img id="vane" src="assets/images/wind-vane-icon.png" alt="weather-vane-logo"></a>
    <button [routerLink]="['/seattle']">Seattle</button>
    <button [routerLink]="['/sanjose']">San Jose</button>
    <button [routerLink]="['/burbank']">Burbank</button>
    <button [routerLink]="['/dallas']">Dallas</button>
    <button [routerLink]="['/dc']">Washington, DC</button>
    <button [routerLink]="['/chicago']">Chicago</button>
    <button [routerLink]="['/lasvegas']">Las Vegas</button>
</div>

<div class="weather-data">

    <div class="welcome" *ngIf="homeBgOn">
        <h1>WeatherVane</h1>
        <br>
        <h4>Click on a city to view current weather data.</h4>
        <br>
        <h4>More locations coming soon!</h4>

    </div>

    <router-outlet></router-outlet>
</div>
