<div class="background" *ngIf="homeBgOn">
</div>

<div class="button-block">
    <a [routerLink]="['/']" (click)="homeBgFlip()"><img id="vane" src="assets/images/wind-vane-icon.png" alt="weather-vane-logo"></a>
    <button [routerLink]="['/seattle']">Seattle</button>
    <button [routerLink]="['/sanjose']">San Jose</button>
    <button [routerLink]="['/burbank']">Burbank</button>
    <button [routerLink]="['/dallas']">Dallas</button>
    <button [routerLink]="['/dc']">Washington, DC</button>
    <button [routerLink]="['/chicago']">Chicago</button>
    <button [routerLink]="['/lasvegas']">Las Vegas</button>
</div>

<div class="weather-data">

    <div class="welcome" *ngIf="homeBgOn">
        <h1>WeatherVane</h1>
        <br>
        <h4>Click on a city to view the current weather data.</h4>
        <br>
        <p>WeatherVane is a portfolio project by William Enright for demonstration purposes only. Weather data is provided by <a href="https://openweathermap.org/api">OpenWeatherMap.org</a>'s Weather API. </p>

    </div>

    <router-outlet></router-outlet>
    <h6>&copy; 2018 William T Enright  |  <a href="http://www.wm10right.com">www.wm10right.com</a></h6>
</div>
