<div class="button-block">
    <button [routerLink]="['/seattle']">Seattle</button>
    <button [routerLink]="['/sanjose']">San Jose</button>
    <button [routerLink]="['/burbank']">Burbank</button>
    <button [routerLink]="['/dallas']">Dallas</button>
    <button [routerLink]="['/dc']">Washington, DC</button>
    <button [routerLink]="['/chicago']">Chicago</button>
    <button [routerLink]="['/lasvegas']">Las Vegas</button>
</div>

<div class="weather-data">
    <router-outlet></router-outlet>
</div>
